{
  "extensionsGallery": {
    "serviceUrl": "{{ vscode_marketplace_serviceurl }}",
    "cacheUrl": "{{ vscode_marketplace_cacheurl }}",
    "itemUrl": "{{ vscode_marketplace_itemurl }}",
    "controlUrl": "",
    "recommendationsUrl": ""
  }
}